body {
  background-color: #61845d;
}

.page {
  width: 800px;
  margin: 0 auto;
  font-size: 13px;
}

header {
  background-color: green;
}

main {
  background-color: white;
}

footer {
  background-color: #4A644D;
  padding: 15px;
  
}
