body {
  background-image: url("http://static.allbackgrounds.com/bg/wood.jpg");
  background-repeat: repeat;
}
.sidebar {
  height: auto;
  border: 2px solid black;
  background-color: #63986a;
}
nav {

}
nav h2 {

}
nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0px 0px 10% 10%;

}
nav ul li {

}
nav ul li a {
  display: block;
  text-decoration: none;
}

//Grid column layout


@media only screen and (min-width: 320px) and (max-width: 699px) {
  /* Tablety */
  .col-tb-1 {width: 8.33%;}
  .col-tb-2 {width: 16.66%;}
  .col-tb-3 {width: 25%;}
  .col-tb-4 {width: 33.33%;}
  .col-tb-5 {width: 41.66%;}
  .col-tb-6 {width: 50%;}
  .col-tb-7 {width: 58.33%;}
  .col-tb-8 {width: 66.66%;}
  .col-tb-9 {width: 75%;}
  .col-tb-10 {width: 83.33%;}
  .col-tb-11 {width: 91.66%;}
  .col-tb-12 {width: 100%;}
  }

@media only screen and (min-width: 700px) and (max-width: 998px) {
  /* StolniPC */
  .col-pc-1 {width: 8.33%;}
  .col-pc-2 {width: 16.66%;}
  .col-pc-3 {width: 25%;}
  .col-pc-4 {width: 33.33%;}
  .col-pc-5 {width: 41.66%;}
  .col-pc-6 {width: 50%;}
  .col-pc-7 {width: 58.33%;}
  .col-pc-8 {width: 66.66%;}
  .col-pc-9 {width: 75%;}
  .col-pc-10 {width: 83.33%;}
  .col-pc-11 {width: 91.66%;}
  .col-pc-12 {width: 100%;}
}
  /* Mobilni telefony */
@media only screen and (max-width: 350px) {
  .col-mb-main {width: 100%;}
}
