* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
  background-image: url("http://static.allbackgrounds.com/bg/wood.jpg");
  background-repeat: repeat;
  padding: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.page {
  width: auto;
  background-color: grey;
}
.sidebar {
  height: auto;
  background-color: white;
  float: left;
}
nav {

}
nav h2 {

}
nav ul {
  list-style-type: none;
  width: 100%;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: grey;
  display: block;
  text-decoration: none;
  font-size: 1em;
  padding: 0.35em 1em;
  width: 100%;
}
nav ul li a:hover, nav ul li a:focus {
  background-color: #63986a;
  color: white;
}
.content {
  float: right;
}
footer {
  clear: both;
}
//Grid column layout

/* Mobilni telefony */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 699px) {
  /* Tablety */
  .col-tb-1 {width: 8.33%;}
  .col-tb-2 {width: 16.66%;}
  .col-tb-3 {width: 25%;}
  .col-tb-4 {width: 33.33%;}
  .col-tb-5 {width: 41.66%;}
  .col-tb-6 {width: 50%;}
  .col-tb-7 {width: 58.33%;}
  .col-tb-8 {width: 66.66%;}
  .col-tb-9 {width: 75%;}
  .col-tb-10 {width: 83.33%;}
  .col-tb-11 {width: 91.66%;}
  .col-tb-12 {width: 100%;}
  }

@media only screen and (min-width: 700px) {
  /* StolniPC */
  .col-pc-1 {width: 8.33%;}
  .col-pc-2 {width: 16.66%;}
  .col-pc-3 {width: 25%;}
  .col-pc-4 {width: 33.33%;}
  .col-pc-5 {width: 41.66%;}
  .col-pc-6 {width: 50%;}
  .col-pc-7 {width: 58.33%;}
  .col-pc-8 {width: 66.66%;}
  .col-pc-9 {width: 75%;}
  .col-pc-10 {width: 83.33%;}
  .col-pc-11 {width: 91.66%;}
  .col-pc-12 {width: 100%;}
}
